// Per usare bootstrap in questo file SCSS - Puoi rimuoverlo se non ti serve
@import "node_modules/bootstrap/scss/bootstrap";








//? Regole CSS e SCSS
body {
    background-color: #2e547c;
}

h1 {
    color: #e0e0e0;
}


p{
    color: rgb(0, 102, 255);
}

.dark-theme{
    color: aqua;
}
